html,body,.container-fluid{
	height: 100%;
}
#map {
	height: 500px;
	width: 100%;
}

#title{
    position: absolute;
    z-index: 100;
    width: 100%;
}
#title h1{
    text-shadow: 1px 1px 2px white;
    background: rgba(255,255,255,0.2);
    padding: 10px;
    color: white;
    text-align: center;
}

#footer{
    position: absolute;
    z-index: 100;
    width: 100%;
    bottom: 0px;
    background: #000;
    border-top: 1px solid #ccc;
}
#footer p{
    text-align: center;
    color: #fff;
    margin-top: 5px;
}