html,body,.container-fluid{
	height: 100%;
}
#map {
	height: 500px;
	width: 100%;
}

#title{
    position: absolute;
    z-index: 100;
    width: 100%;
}
#title h1{
    background: rgba(255,255,255,0.2);
    padding: 10px;
    color: #71B340;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);
}

p.data{
    font-size: 50px;
    color: #71B340;
    font-family: 'Fjalla One', sans-serif;
    margin: 0px;
    padding: 0px;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);
}

p.data-label{
    font-size: 30px;
    color: #f7685c;
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2.2px;
    margin: 0px;
    padding: 0px;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);
}

#icon {
    position: absolute;
    max-width: 50%;
    left: 20px;
    bottom: 50px;
}

#icon p.data{
    background-color: #71B340;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    -webkit-box-shadow: 1px 1px 0px 0px rgba(255, 255, 255, 1);
    -moz-box-shadow:    1px 1px 0px 0px rgba(255, 255, 255, 1);
    box-shadow:         1px 1px 0px 0px rgba(255, 255, 255, 1);
}

#temp {
    position: absolute;
    max-width: 50%;
    left: 20px;
    top: 90px;
}

#wind {
    position: absolute;
    max-width: 50%;
    right: 20px;
    bottom: 50px;
}

#date {
    position: absolute;
    max-width: 50%;
    right: 20px;
    top: 90px;
}

#footer{
    position: absolute;
    z-index: 100;
    width: 100%;
    bottom: 0px;
    background: #000;
    border-top: 1px solid #ccc;
}
#footer p{
    text-align: center;
    color: #f7685c;
    margin-top: 5px;
    font-family: 'Fjalla One', sans-serif;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);
    font-size: 20px;
}

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    #title h1{
        font-size: 20px;
        margin: 0px;
    }

    #title .col-md-12{
        padding: 0px;
    }

    #date {
        top: 45px;
        right: 10px;
    }

    #icon {
        bottom: 45px;
        left: 10px;
    }

    #hum {
        bottom: 45px;
        right: 10px;
    }

    #temp {
        top: 45px;
        left: 10px;
    }

    p.data{
        font-size: 30px;
    }
    p.data-label{
        font-size: 15px;
    }

    #footer p{
        font-size: 15px;
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
    
}

